@font-face {
  font-family: 'Lato'; /* Use 'Lato' for the Lato font */
  src: url('./fonts/lato.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abel'; /* Use 'Dosis' for the Dosis font */
  src: url('./fonts/abel.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 200px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top vertically */
  height: 100vh; /* 100% of viewport height */
  padding: 100px; /* Add padding for spacing */
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #22A699;
  overflow: auto;
}

h1 {
  font-size: 36px; 
  margin-bottom: 20px; 
  margin-top: 20px;
  padding-top: 0px;
}

body {
  background-image: url('https://wallpaperset.com/w/full/0/6/5/198508.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  font-family: 'Abel', sans-serif
}

.header {
  font-size: 72px;
  font-weight: 600; 
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.chart-icon{
  height: auto;
  width: 100px;
  margin-top: 0px;
  padding-top: 0px;
}




