@font-face {
  font-family: 'Lato'; 
  src: url('./assets/lato.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abel'; 
  src: url('./assets/abel.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Engula';
  src: url('./assets/engula.regular.ttf') format('truetype');
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 200px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; 
  padding: 100px;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: #22A699;
  background-color: #141E46;
  border: 2px solid #22A699;
  border-radius: 100px;
  overflow: auto;
}

h1 {
  font-size: 36px; 
  margin-bottom: 20px; 
  margin-top: 20px;
  padding-top: 0px;
}

body {
  background-image: url('./assets/market.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  font-family: 'Abel', sans-serif
}

.header {
  font-size: 72px;
  font-weight: 600; 
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.chart-icon{
  height: auto;
  width: 100px;
  margin-top: 0px;
  padding-top: 0px;
}

.stock-surfer-pro-button{
  background-color: #C70039;
  font-size: x-large;
  color: white;
}
.stock-surfer-pro-button:hover{
  background-color: #FF6969;
}




